<div class="container">
  <div class="primary_header">
    <div id="logo"><a href="activities"><img src="/assets/Logo.svg" alt="Logo" height="40"></a></div>
    <div id="register">
      <a href="registration" class="register">Register</a>
      <a href="login" class="login">Login</a>
    </div>
  </div>
  <nav class="sidebar_menu" id="menu">
    <div style="margin-left: 15%">
        <ul>
          <ul><a href="activities">Overview</a></ul>
          <ul><a href="#">Test</a></ul>
          <ul><a href="#">Test</a></ul>
          <ul><a href="#">Test</a></ul>
          <ul><a href="#">Test</a></ul>
          <ul><a href="#">Test</a></ul>
        </ul>
    </div>
  </nav>
  <main>
    <div style="margin-left: 18%">
      <div style="margin-top: 15%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>
