<md-dialog aria-label="Message" style="min-width: 35%;">
    <form id="support_form" name="message_form" ng-submit="send_message()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Send message</h2>
                <span flex></span>
                <md-button class="md-icon-button" type="reset" ng-click="cancel()" tabindex="4">
                    <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width: 100px">
            <div class="md-dialog-content" layout="column">
                <md-input-container id="add_activity_input_container">
                    <input ng-model="message.title" name="message_title" type="text" md-autofocus placeholder="Title:"
                           tabindex="1" required>
                    <div ng-messages="message_form.message_title.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <textarea ng-model="message.text" name="message_text" rows="5" max-rows="7" md-no-resize
                              placeholder="Message:" tabindex="2" required md-maxlength="255" maxlength="255"></textarea>
                    <div ng-messages="message_form.message_text.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-accent " type="submit" tabindex="3">
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>