<!DOCTYPE html>
<html lang="en" ng-app="IUA">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International University App</title>

    <!--Material Design styles by Google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Style for AngularJS Material-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <!--Custom styles-->
    <link rel="stylesheet" href="styles.css">

    <!--AngularJS scripts-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <!---AngularJS Material script-->
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <!--Flow.js-->
    <script src="bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>
    <!--Custom scripts-->
    <script src="controller.js"></script>
</head>

<body>
<div ng-controller="IUACtrl" layout="column" layout-fill>
    <md-toolbar class="md-primary" id="fixed-header">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeftSidebar()">
                <md-icon md-font-set="material-icons"> menu</md-icon>
            </md-button>
            <img hide-xs src="./assets/Logo.svg" alt="IUA Logo" style="width: 192px; height: 48px;">
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Search" form="search_form" type="submit">
                <md-icon class="material-icons"> search </md-icon>
            </md-button>
            <form id="search_form" name="search_form" ng-submit="search_form_submit()">
                <md-input-container id="search_input_container">
                    <input type="text" id="search_input_field" placeholder="Search..." ng-model="search_text_field">
                </md-input-container>
            </form>
            <md-menu ng-controller="FilterMenuCtrl">
                <md-button class="md-icon-button" aria-label="Filter" ng-click="openFilterMenu($mdMenu, $event)">
                    <md-icon class="material-icons"> sort </md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-switch class="md-primary" name="filter_only_activities" ng-model="search_type_act" style="padding-left: 5px;"
                               ng-change="search_type_act_change()">
                        Only Activities
                    </md-switch>
                    <md-switch class="md-primary" name="filter_only_users" ng-model="search_type_user" style="padding-left: 5px;"
                               ng-change="search_type_user_change()">
                        Only Users
                    </md-switch>
                </md-menu-content>
            </md-menu>
            <span flex></span>
            <md-button hide-xs class="md-raised md-accent" ng-hide="loginButtonHide"
                       ng-click="open_registration_dialog($event)">Sign up
            </md-button>
            <md-button class="md-raised md-accent" ng-hide="loginButtonHide" ng-click="open_login_dialog($event)">
                Login
            </md-button>
            <h1 hide-xs ng-show="loginButtonHide" style="margin-right: 5px">{{current_user.name}}</h1>
            <md-menu>
                <md-button class="md-fab md-primary" aria-label="Profil Picture" style="height: 48px; width: 48px;
                           background-image: url(assets/user_icon.png); background-size: cover;"
                           ng-click="openUserMenu($mdMenu, $event)"
                           ng-show="loginButtonHide"></md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="toggleRightSidebar()">Profile</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="open_add_activity_dialog(current_user, $event)">Add activity</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>My activities</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>Subscribed activities</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">Logout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <!--Site body content-->
    <section layout="row" flex style="max-height: 0">
        <md-sidenav class="md-sidenav-left" md-component-id="left_Sidebar" md-whiteframe="4" style="min-width: 250px">
            <md-toolbar class="md-primary">
                <h1 class="md-toolbar-tools">IUA - Sidebar</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-button class="md-raised md-accent" ng-click="add_test_user()">
                    Add Dummy User (DEBUG)
                </md-button>
                <p>
                    E-Mail: information.iua@gmail.com
                    Password: test
                </p>
                <md-button hide-gt-xs class="md-raised md-accent" ng-hide="loginButtonHide"
                           ng-click="open_registration_dialog($event)">Sign up
                </md-button>
                <md-divider style="display: flex">
                    <h3 style="margin-top: 5px; margin-bottom: 5px;">Feed filters</h3>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Restore Original Feed">
                        <md-tooltip md-direction="left">Reset filters</md-tooltip>
                        <md-icon class="material-icons"> restore </md-icon>
                    </md-button>
                </md-divider>
                <md-switch class="md-primary" style="padding-left: 5px; margin-top: 0; margin-bottom: 5px;">
                    Official posts only
                </md-switch>
                <md-divider></md-divider>
                <md-button>Support</md-button>
                <md-button ng-click="go_to_imprint()">Imprint</md-button>
            </md-content>
        </md-sidenav>
        <md-sidenav class="md-sidenav-right" md-component-id="right_Sidebar" md-whiteframe="4" style="min-width: 250px;">
            <md-toolbar class="md-primary" layout="row">
                <div class="md-toolbar-tools">
                    <h1>User profile</h1>
                    <span flex></span>
                    <md-button class="md-fab md-mini md-accent" aria-label="Edit Profile">
                        <md-tooltip md-direction="left">Edit</md-tooltip>
                        <md-icon md-font-set="material-icons"> edit </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content layout-padding layout="column">
                <span style="text-align: center;">This is a user profile</span>
                <img src="assets/user_icon.png" style="border-radius: 100px; height: 200px; width: 200px; display: block;
                margin-left: auto; margin-right: auto;"/>
                <span style="text-align: center;">{{current_user.name}}</span>
            </md-content>
        </md-sidenav>
    </section>
    <div hide-xs ng-hide="search_type_act" class="cards" layout="row" layout-wrap style="margin-top: 64px;">
        <md-content class="md-padding autocomplete" layout="column">
            <md-subheader class="md-no-sticky">Users</md-subheader>
            <md-contact-chips
                    ng-model="user"
                    md-contacts="users"
                    md-contact-name="name"
                    md-contact-image="image"
                    md-contact-email="email"
                    md-require-match="true"
                    md-highlight-flags="i"
                    filter-selected=""
                    placeholder="To">
            </md-contact-chips>
        </md-content>
    </div>
    <div hide-xs ng-hide="search_type_user" class="cards" layout="row" layout-wrap style="margin-top: 64px;">
        <md-card style="max-width: 400px; min-width: 300px; margin-bottom: 20px; min-height: 500px;"
                 ng-repeat="activity in activities | orderBy: reverse:true | searchField: search_text_field"
                 ng-click="open_activity_details_dialog(activity, $event)">
            <md-card-header>
                <md-card-avatar>
                    <div style="padding-top: 6px">
                        <img class="md-user-avatar" src="assets/user_icon.png"
                             ng-click="$event.stopPropagation(); toggleRightSidebar();"/>
                    </div>
                </md-card-avatar>
                <md-card-header-text>
                    <div style="padding-top: 6px">
                        <span class="md-title">{{activity.authorName}}</span>
                    </div>
                    <span class="md-subhead">Student</span>
                </md-card-header-text>
                <span flex></span>
                <md-fab-speed-dial md-direction="down" ng-class="'md-scale'" ng-click="$event.stopPropagation();"
                                   ng-show="checkUser(activity);" style="position: relative; z-index: 0;">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-mini md-raised">
                            <md-icon md-font-set="material-icons"> more_vert</md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions style="height: 0;">
                        <md-button class="md-fab md-mini md-raised" aria-label="Edit"
                                   ng-click="open_edit_activity_dialog(activity, current_user, $event)">
                            <md-tooltip md-direction="left">Edit</md-tooltip>
                            <md-icon md-font-set="material-icons"> edit</md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini md-raised" aria-label="Delete"
                                   ng-click="confirm_delete_activity(activity, $event)">
                            <md-tooltip md-direction="left">Delete</md-tooltip>
                            <md-icon md-font-set="material-icons"> delete </md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </md-card-header>
            <img src="assets/activity_background.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text style="max-width: 100%">
                    <span class="md-headline" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{activity.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-chips ng-model="activity.tags" readonly="true" >
                    <md-chip-template>
                        #{{$chip}}
                    </md-chip-template>
                </md-chips>
            </md-card-actions>
            <md-card-content md-truncate>
                {{activity.text}}
            </md-card-content>
        </md-card>
    </div>
    <div hide-gt-xs ng-hide="search_type_user" class="cards" layout="row" layout-wrap style="margin-top: 56px;">
        <!--layout="row" can be removed to make the cards fit the whole screen on mobile-->
        <md-card style="max-width: 400px; min-width: 300px; margin-bottom: 0; min-height: 500px; margin-left: auto; margin-right: auto;"
                 ng-repeat="activity in activities | orderBy: reverse:true | searchField: search_text_field"
                 ng-click="open_activity_details_dialog(activity, $event)">
            <md-card-header>
                <md-card-avatar>
                    <div style="padding-top: 6px">
                        <img class="md-user-avatar" src="assets/user_icon.png"
                             ng-click="$event.stopPropagation(); toggleRightSidebar();"/>
                    </div>
                </md-card-avatar>
                <md-card-header-text>
                    <div style="padding-top: 6px">
                        <span class="md-title">{{activity.authorName}}</span>
                    </div>
                    <span class="md-subhead">Student</span>
                </md-card-header-text>
                <span flex></span>
                <md-fab-speed-dial md-direction="down" ng-class="'md-scale'" ng-click="$event.stopPropagation();"
                                   ng-show="checkUser(activity);" style="position: relative; z-index: 0;">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-mini md-raised">
                            <md-icon md-font-set="material-icons"> more_vert</md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions style="height: 0;">
                        <md-button class="md-fab md-mini md-raised" aria-label="Edit"
                                   ng-click="open_edit_activity_dialog(activity, current_user, $event)">
                            <md-tooltip md-direction="left">Edit</md-tooltip>
                            <md-icon md-font-set="material-icons"> edit</md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini md-raised" aria-label="Delete"
                                   ng-click="confirm_delete_activity(activity, $event)">
                            <md-tooltip md-direction="left">Delete</md-tooltip>
                            <md-icon md-font-set="material-icons"> delete </md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </md-card-header>
            <img src="assets/activity_background.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text style="max-width: 100%">
                    <span class="md-headline" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{activity.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-chips ng-model="activity.tags" readonly="true" >
                    <md-chip-template>
                        #{{$chip}}
                    </md-chip-template>
                </md-chips>
            </md-card-actions>
            <md-card-content md-truncate>
                {{activity.text}}
            </md-card-content>
        </md-card>
    </div>
    <md-button class="md-fab md-fab-bottom-right" aria-label="Refresh Activities" style="position: fixed !important;"
               ng-click="refresh_button()">
        <md-tooltip md-direction="top">Refresh activities</md-tooltip>
        <md-icon md-font-set="material-icons"> refresh </md-icon>
    </md-button>
</div>
</body>
</html>