<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
	<title>International University App</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-red.min.css">
	<link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="table.css">

	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.1.0/ui-bootstrap-tpls.js"></script>
	<script src="controller.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script>
    <!--<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>-->
</head>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">IUA</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <div class="searchBar">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="search_field">
                                <i class="material-icons redSearchIcon">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" type="text" id="search_field">
                            </div>
                        </div>
                </div>
                <div ng-controller="ActivityCtrl">
                    <dialog id="reg_dialog" class="mdl-dialog">
                        <h3 class="mdl-dialog__title">Registration</h3>
                        <form id="reg_form" ng-submit="reg_save()">
                            <div class="mdl-dialog__content">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" required autofocus pattern="^[A-Za-z0-9_]+"
                                           id="username" ng-model="user.username">
                                    <label class="mdl-textfield__label" for="username">Name:</label>
                                </div>
                                <div id="info_username" class="icon material-icons">info_outline</div>
                                <div class="mdl-tooltip mdl-tooltip--large" for="info_username">
                                    Username can only<br>contain uppercase-,<br> lowercase letters<br>and underscores.
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="email" required id="email" ng-model="user.email">
                                    <label class="mdl-textfield__label" for="email">E-Mail:</label>
                                </div>
                                <div id="info_email" class="icon material-icons">info_outline</div>
                                <div class="mdl-tooltip mdl-tooltip--large" for="info_email">
                                    Only MUAS or Calpoly<br>email-addresses are allowed.
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="password" minlength="10" required
                                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" id="password" ng-model="user.password">
                                    <label class="mdl-textfield__label" for="password">Password:</label>
                                </div>
                                <div id="info_password" class="icon material-icons">info_outline</div>
                                <div class="mdl-tooltip mdl-tooltip--large" for="info_password">
                                    Password needs at <br>least one uppercase-,<br>one lowercase letter<br>and one number.
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="password" minlength="10" required
                                           id="passwordControl" ng-model="user.passwordControl">
                                    <label class="mdl-textfield__label" for="passwordControl">Confirm Password:</label>
                                </div>
                            </div>
                            <div class="mdl-dialog__actions">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                    <input type="submit" hidden/>
                                    Register
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="reset" ng-click="reg_close()">
                                    Back
                                </button>
                            </div>
                        </form>
                    </dialog>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="registration()">
                        Registration
                    </button>
                </div>
                <div ng-Controller="ActivityCtrl">
                    <dialog id="login_dialog" class="mdl-dialog">
                        <h3 class="mdl-dialog__title">Login</h3>
                        <div class="mdl-dialog__content">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="email" id="emailLogin" ng-model="user.emailLogin">
                                <label class="mdl-textfield__label" for="emailLogin">E-Mail:</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" id="passwordLogin" ng-model="user.passwordLogin">
                                <label class="mdl-textfield__label" for="passwordLogin">Password:</label>
                            </div>
                        </div>
                        <div class="mdl-dialog__actions">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="login_login()">
                                Login
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="login_close()">
                                Back
                            </button>
                        </div>
                    </dialog>
                    <div style="padding-left: 20px">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="login()">
                            Login
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title">IUA</span>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="">Link</a>
			<a class="mdl-navigation__link" href="">Link</a>
			<a class="mdl-navigation__link" href="">Link</a>
			<a class="mdl-navigation__link" href="">Link</a>
		</nav>
	</div>
	<main class="mdl-layout__content">
		<div style="margin-left: 20%">
			<div style="margin-top: 10%">
				<div class="page-content">
					<body>
                        <div ng-controller="ActivityCtrl">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="add()">
                                Add Activity
                            </button>
                            <h3>Activities</h3>
                            <div ng-repeat="activity in activities">
                                <!-- Square card -->
                                <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                    <div class="mdl-card__title mdl-card--expand">
                                        <h2 class="mdl-card__title-text"><div style="color: black">{{activity.title}}</div></h2>
                                    </div>
                                    <div class="mdl-card__supporting-text">
                                        {{activity.text}}
                                    </div>
                                    <div class="mdl-card__actions mdl-card--border">
                                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                            #{{activity.tags}}
                                        </a>
                                    </div>
                                    <div class="mdl-card__menu">
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                            <i class="material-icons">share</i>
                                        </button>
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" ng-click="edit(activity)">
                                            <i class="material-icons redSearchIcon">edit</i>
                                        </button>
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"ng-click="delete(activity)">
                                            <i class="material-icons redSearchIcon">delete</i>
                                        </button>
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="activity_more_button">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                            for="activity_more_button">
                                            <li class="mdl-menu__item">Edit</li>
                                            <li class="mdl-menu__item">Delete</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <dialog id="add_activity_dialog" class="mdl-dialog">
                                <h3 class="mdl-dialog__title">Add Activity</h3>
                                <form id="add_form" ng-submit="add_save(activity)">
                                    <div class="mdl-dialog__content">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" required type="text" id="add_title" ng-model="activity.add_title">
                                            <label class="mdl-textfield__label" for="add_title">Title:</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <textarea class="mdl-textfield__input" required type="text" rows= "3" id="add_text" ng-model="activity.add_text"></textarea>
                                            <label class="mdl-textfield__label" for="add_text">Description:</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" required type="text" id="add_tags" ng-model="activity.add_tags">
                                            <label class="mdl-textfield__label" for="add_tags">Tags:</label>
                                        </div>
                                    </div>
                                    <div class="mdl-dialog__actions">
                                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                            <input type="submit" hidden/>
                                            Save
                                        </button>
                                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="reset" ng-click="add_close()">
                                            Back
                                        </button>
                                    </div>
                                </form>
                            </dialog>
                            <dialog id="edit_activity_dialog" class="mdl-dialog">
                                <h3 class="mdl-dialog__title">Edit Activity</h3>
                                <form id="edit_form" ng-submit="edit_save(activity)">
                                <div class="mdl-dialog__content">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="edit_title" ng-model="activity.edit_title">
                                        <label class="mdl-textfield__label" for="edit_title">Title:</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <textarea class="mdl-textfield__input" type="text" rows= "3"
                                                  id="edit_text" ng-model="activity.edit_text"></textarea>
                                        <label class="mdl-textfield__label" for="edit_text">Description:</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="edit_tags" ng-model="activity.edit_tags">
                                        <label class="mdl-textfield__label" for="edit_tags">Tags:</label>
                                    </div>
                                </div>
                                <div class="mdl-dialog__actions">
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                                        <input type="submit" hidden/>
                                        Save
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="reset" ng-click="edit_close()">
                                        Back
                                    </button>
                                </div>
                            </dialog>
                        </div>
					</body>
				</div>
			</div>
		</div>
	</main>
</div>
</html>