<!--
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-red.min.css" />

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

<div class="modal-header">
    <h1>User Registration</h1>
</div>
<form ng-submit="save()">
    <div class="modal-body">
        &lt;!&ndash; Textfield with Floating Label &ndash;&gt;
        <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
            <input class="mdl-textfield__input" type="text" required autofocus pattern="^[A-Za-z0-9_]+"
                   placeholder="Name..." id="username" ng-model="user.username">
        </div>

        &lt;!&ndash;&lt;!&ndash; Colored raised button &ndash;&gt;
        <button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;colored">
            Profile picture
        </button>&ndash;&gt;

        &lt;!&ndash; Textfield with Floating Label &ndash;&gt;
        <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
            <input class="mdl-textfield__input" type="email" required id="email"
                   placeholder="E-Mail..." ng-model="user.email">
        </div>

        &lt;!&ndash; Textfield with Floating Label &ndash;&gt;
        <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
            <input class="mdl-textfield__input" type="password" minlength="10" required
                   pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" id="password"
                   placeholder="Password..." ng-model="user.password">
        </div>

        &lt;!&ndash; Textfield with Floating Label &ndash;&gt;
        <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
            <input class="mdl-textfield__input" type="password" minlength="10" required
                   placeholder="Confirm Password..." id="passwordControl" ng-model="user.passwordControl">
        </div>
    </div>
<div class="modal-footer">
    &lt;!&ndash; Colored raised button &ndash;&gt;
    <button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;colored">
        <input type="submit" hidden/>
        Register
    </button>

    &lt;!&ndash; Accent-colored raised button with ripple &ndash;&gt;
    <button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent" ng-click="close()">
        Back
    </button>
</div>
</form>-->
