#search_input_container {
    display: flex;
}

#search_input_container label {
    padding-left: 10px;
    color: white;
}

#search_input_field {
    background-color: rgba(205, 205, 205, 0.51);
    color: inherit;
}

.carddemoBasicUsage .card-media {
    background-color: #999999; }