#search_input_container {
    display: flex;
}

#search_input_container label {
    padding-left: 10px;
    color: white;
}

#search_input_field {
    background-color: rgba(205, 205, 205, 0.51);
    color: inherit;
}

#fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
}

md-backdrop, md-sidenav {
    position: fixed;
}