<md-dialog aria-label="Activity Details">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-card style="max-height: 56px; background-color: rgb(33,135,225); color: rgb(255,255,255)"
                         ng-click="toggleRightSidebar(activity.author);">
                    <md-card-header style="padding-top: 10px; margin-left: -20px">
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="{{activity.authorPictureURL}}" alt="User picture missing."
                                 style="object-fit: cover; height: inherit; width: inherit;">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{activity.authorName}}</span>
                            <span class="md-subhead" style="color: rgb(255,255,255)">Student</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" tabindex="1">
                    <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width: 100px;">
            <md-card layout-fill flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="word-break: break-all;">{{activity.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <img ng-src="{{activity.picture_url}}" class="md-card-image" alt="Activity picture missing."
                     style="object-fit: cover; max-height: 400px; max-width: 400px;">
                <md-card-actions layout="row" layout-align="start center">
                    <md-chips ng-model="activity.tags" readonly="true" >
                        <md-chip-template>
                            #{{$chip}}
                        </md-chip-template>
                    </md-chips>
                </md-card-actions>
                <span ng-hide="activity.capacity<=0" style="margin-left: 16px; margin-right: 16px;">Capacity: ? / {{activity.capacity}}</span>
                <span style="margin-left: 16px; margin-right: 16px;">Due Date: {{activity.dueDate}}</span>
                <md-card-content style="word-wrap: break-word;">
                    {{activity.text}}
                </md-card-content>
            </md-card>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-accent" ng-disabled="true">
                Watch
            </md-button>
            <md-button class="md-raised md-accent" ng-disabled="true">
                Join
            </md-button>
        </md-dialog-actions>
</md-dialog>