<md-dialog aria-label="Edit Profile" style="min-width: 35%;">
    <form id="edit_profile_form" name="edit_profile_form" ng-submit="edit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit profile</h2>
                <span flex></span>
                <md-button class="md-icon-button" type="reset" ng-click="cancel()" tabindex="7">
                    <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width: 100px">
            <div class="md-dialog-content" layout="column">
                <img ng-src="{{profile.picture_url}}" alt="Profile picture missing." style="object-fit: cover; height: 150px;
                width: 150px; display: block; margin-left: auto; margin-right: auto; border-radius: 75px;">
                <div style="display: flow-root;">
                    <input type="file" file-model="profile_picture_upload" aria-label="profile_pic_upload" accept="image/png">
                    <md-button class="md-raised md-accent" ng-click="edit_pic()">
                        Edit
                    </md-button>
                    <md-progress-circular ng-hide="upload_in_progress" ng-disabled="upload_in_progress"
                                          class="md-hue-2" md-diameter="20px">
                    </md-progress-circular>
                    <md-icon ng-hide="upload_finished" class="material-icons" aria-label="Upload finished"> check </md-icon>
                </div>
                <span>If you want to change your name, enter a new name<br>and enter your current password.</span>
                <md-input-container>
                    <input ng-model="profile.name" name="profile_name" type="text" placeholder="Name:" md-autofocus tabindex="1" required
                           ng-trim="false" pattern="^[A-Za-z0-9_]+" ng-pattern=/^[A-Za-z0-9_]+$/>
                    <div ng-messages="edit_profile_form.profile_name.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="pattern">Your user name may only contain uppercase-, lowercase letters, numbers and underscores.</div>
                        <div ng-message="nameAlreadyTaken">This name is already taken!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input ng-model="profile.passwordOld" name="profile_password_old" type="password"
                           placeholder="Current password:" tabindex="3" required/>
                    <div ng-messages="edit_profile_form.profile_password_old.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <span>If you want to change your password, enter your current<br> and a new password and confirm it.</span>
                <md-input-container>
                    <input ng-model="profile.password" name="profile_password" type="password" placeholder="New password:" tabindex="4"
                           minlength="10" ng-pattern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/>
                    <div ng-messages="edit_profile_form.profile_password.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="pattern">Password needs at least one uppercase-,one lowercase letter and one number.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input ng-model="profile.passwordConfirm" name="profile_password_confirm" type="password"
                           placeholder="Confirm new password:" tabindex="5">
                    <div ng-messages="edit_profile_form.profile_password_confirm.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="password">Passwords don't match!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-accent " type="submit" tabindex="6">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>