<md-dialog aria-label="Edit Profile" style="min-width: 35%;">
    <form id="edit_profile_form" ng-submit="edit(profile)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit profile</h2>
                <span flex></span>
                <md-button class="md-icon-button" type="reset" ng-click="cancel()" tabindex="5">
                    <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width: 100px">
            <div class="md-dialog-content" layout="column">
                <img src="../assets/user_icon.png" style="border-radius: 75px; height: 150px; width: 150px; display: block;
                margin-left: auto; margin-right: auto;"/>
                    <md-input-container>
                        <input type="file" file-model="uploadedFile" aria-label="profile_pic_upload">
                    </md-input-container>
                    <md-button class="md-raised md-accent" ng-click="edit_pic()">
                        Edit
                    </md-button>
                <md-input-container>
                    <input ng-model="profile.name" name="profile_name" type="text" placeholder="Name:" md-autofocus tabindex="1" required
                           ng-trim="false" pattern="^[A-Za-z0-9_]+" ng-pattern=/^[A-Za-z0-9_]+$/>
                    <div ng-messages="edit_profile_form.profile_name.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="pattern">Your user name may only contain uppercase-, lowercase letters, numbers and underscores.</div>
                        <div ng-message="nameAlreadyTaken">This name is already taken!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input ng-model="profile.email" name="profile_email" type="email" placeholder="E-Mail:" tabindex="2" required>
                    <div ng-messages="edit_profile_form.profile_email.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="noHMorCalEmail">E-Mail does not end with @hm.edu or @calpoly.edu!</div>
                        <div ng-message="emailAlreadyExists">This e-mail is already associated with another account!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input ng-model="profile.password" name="profile_password" type="password" placeholder="Password:" tabindex="3"
                           required minlength="10" ng-pattern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/>
                    <div ng-messages="edit_profile_form.profile_password.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="pattern">Password needs at least one uppercase-,one lowercase letter and one number.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input ng-model="profile.passwordConfirm" name="profile_password_confirm" type="password"
                           placeholder="Confirm password:" tabindex="4" required>
                    <div ng-messages="edit_profile_form.profile_password_confirm.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="password">Passwords don't match!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-accent " type="submit" tabindex="4">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>