<md-dialog aria-label="Login" style="min-width: 35%;">
    <form id="login_form" name="login_form" ng-submit="login(login)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button class="md-icon-button" type="reset" ng-click="cancel()" tabindex="6">
                    <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width: 100px">
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <input ng-model="login.email" name="login_email" type="email" placeholder="E-Mail:" md-autofocus tabindex="1" required>
                    <div ng-messages="login_form.login_email.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="emailNotExists">There is no account connected to this e-mail address!</div>
                        <div ng-message="accNotConfirmedWithResend">Your account is not confirmed.
                            Please use the link in the e-mail we send you, to confirm your account.</div>
                        <div ng-message="accNotConfirmedLocked">Your account is not confirmed.
                            Resend of the confirmation e-mail possible in {{login.timeTillUnlock}} minutes.</div>
                        <div ng-message="emailNeededForReset">Enter your e-mail in order to be able to reset your password.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input ng-model="login.password" name="login_password" type="password" placeholder="Password:" tabindex="2" required>
                    <div ng-messages="login_form.login_password.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="wrongPassword">Incorrect password! If you forgot your password, press the ?</div>
                    </div>
                </md-input-container>
                <md-checkbox ng-model="login.staySignedIn" aria-label="Login Checkbox" tabindex="3">
                    Remember me
                </md-checkbox>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-fab md-mini md-primary" ng-click="forgot_password(login)" tabindex="5">
                <md-tooltip md-direction="top">Forgot password ?</md-tooltip>
                <md-icon md-font-set="material-icons"> help_outline </md-icon>
            </md-button>
            <md-button class="md-raised md-accent " type="submit" tabindex="4">
                Login
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>