<md-dialog aria-label="Registration" style="min-width: 35%;">
    <form id="reg_form" name="reg_form" ng-submit="(registration_in_progress) ? registration(reg) : null">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Registration</h2>
                <span flex></span>
                <md-button class="md-icon-button" type="reset" ng-click="cancel()" tabindex="6">
                    <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width: 100px">
            <div class="md-dialog-content" layout="column">
                <md-input-container id="reg_input_container">
                    <input ng-model="reg.name" name="reg_name" type="text" placeholder="Name:" md-autofocus tabindex="1" required
                           ng-trim="false" pattern="^[A-Za-z0-9_]+" ng-pattern=/^[A-Za-z0-9_]+$/>
                    <div ng-messages="reg_form.reg_name.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="pattern">Your user name may only contain uppercase-, lowercase letters, numbers and underscores.</div>
                        <div ng-message="nameAlreadyTaken">This name is already taken!</div>
                    </div>
                </md-input-container>
                <md-input-container id="reg_input_container">
                    <input ng-model="reg.email" name="reg_email" type="email" placeholder="E-Mail:" tabindex="2" required>
                    <div ng-messages="reg_form.reg_email.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="noHMorCalEmail">E-Mail does not end with @hm.edu or @calpoly.edu!</div>
                        <div ng-message="emailAlreadyTaken">This e-mail is already associated with another account.
                        If you forgot your password, press the ? in login.</div>
                        <div ng-message="sendEmailFailed">Failed to send activation e-mail. Please try again.
                            If it does not work, please contact IUA support.</div>
                    </div>
                </md-input-container>
                <md-input-container id="reg_input_container">
                    <input ng-model="reg.password" name="reg_password" type="password" placeholder="Password:" tabindex="3"
                           required minlength="10" ng-pattern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/>
                    <div ng-messages="reg_form.reg_password.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="pattern">Password needs at least one uppercase-,one lowercase letter and one number.</div>
                    </div>
                </md-input-container>
                <md-input-container id="reg_input_container">
                    <input ng-model="reg.passwordConfirm" name="reg_password_confirm" type="password"
                           placeholder="Confirm password:" tabindex="4" required>
                    <div ng-messages="reg_form.reg_password_confirm.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="password">Passwords don't match!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-progress-circular ng-hide="registration_in_progress" ng-disabled="registration_in_progress" class="md-hue-2" md-diameter="20px"></md-progress-circular>
            <md-button ng-disabled="!registration_in_progress" class="md-raised md-accent" type="submit" tabindex="5">
                Register
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>