<md-dialog aria-label="Support" style="min-width: 35%;">
    <form id="support_form" name="support_form" ng-submit="send_message()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Contact support</h2>
                <span flex></span>
                <md-button class="md-icon-button" type="reset" ng-click="cancel()" tabindex="6">
                    <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width: 100px">
            <div class="md-dialog-content" layout="column">
                <p>
                    If you have a problem on our site or want to make a improvement proposal
                    feel free to use this form to send us a message.
                </p>
                <md-input-container>
                    <input ng-model="support.email" name="support_email" type="email" md-autofocus placeholder="E-Mail:"
                           tabindex="1" required>
                    <div ng-messages="support_form.support_email.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                    </div>
                    <span>Enter a e-mail at which we can contact you in case you need an answer from us.</span>
                </md-input-container>
                <md-input-container>
                    <label>Category:</label>
                    <md-select ng-model="support.category" name="support_category" tabindex="2" required>
                        <md-option value="Something else"><em>Something else</em></md-option>
                        <md-option value="Login">Login</md-option>
                        <md-option value="Sign up">Sign up</md-option>
                        <md-option value="Add activity">Add activity</md-option>
                        <md-option value="Edit activity">Edit activity</md-option>
                        <md-option value="Delete activity">Delete activity</md-option>
                        <md-option value="Improvement">Improvement</md-option>
                    </md-select>
                    <div ng-messages="support_form.support_category.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                    </div>
                    <span>Select a category that fits your subject.</span>
                </md-input-container>
                <md-input-container id="add_activity_input_container">
                    <input ng-model="support.title" name="support_title" type="text" placeholder="Title:"
                           tabindex="3" required>
                    <div ng-messages="support_form.support_title.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                    </div>
                    <span>Use this field to describe your subject shorty.</span>
                </md-input-container>
                <md-input-container>
                    <textarea ng-model="support.message" name="support_message" rows="5" max-rows="7" md-no-resize
                              placeholder="Message:" tabindex="4" required md-maxlength="255" maxlength="255"></textarea>
                    <div ng-messages="support_form.support_message.$error" role="alert">
                        <div ng-message="required">This is required!</div>
                    </div>
                    <span>Please keep your message short and focused on your subject.</span>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-accent " type="submit" tabindex="5">
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>